{% extends "base.html" %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
  $(window).load( function() {
     $(".minusProb").click( function(){
        $.post( "",
                {id: $(this).attr('id'),
                 kind: "minusProb" },
                function(){
                     location.reload(true);
                });
     });
     $(".plus").click( function(){
        var textBox = $("<input class='text2' type='text'/>")
        var bar = $(this).attr('id');
        var textSubmit = $("<button class='butt'> OK! </button>").click( function(){
          $.post( "",
                {id: bar,
                 kind: "plus",
                 text: textBox.val()},
                function(){
                     location.reload(true);
                });
        });
        $(this).parent().parent().append( textBox ).append( textSubmit );
     });
  });

  
  </script>
{% endblock %}


{% block content %}
<div class="paper">
   <h2>{{ assignment.title }}</h2>
   {% for problem in problems %}
      <div class="problem fin{{ problem.complete }}" id="{{ problem.id }}">

        <h4><span class="minusProb" id="{{ problem.id }}">x</span> <span class="plus" id="{{ problem.id }}">add note</span>
<strong>#{{ problem.index }}.</strong> {{ problem.title }}

</h4>



      </div>
      {% for note in problem.notes %}
       <div class="note"><h4> {{ note.text }} </h4></div>
      {% endfor %}
   {% endfor %}
   </div>
{% endblock %}
