{% extends "base.html" %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">

  genBoxes = function( number, questions, points ){
    for(var i = 0; i < number; i++ ){
      if( questions || points ) {
                $("<p>Question " + i + "</p>").appendTo("#growOnBoxes");
      }                 
      if( questions ){
                $("<p>Title</p>").appendTo("#growOnBoxes");
                $("<input/>").attr("type","text").attr("id", "newQuest" + i).addClass("newQuest").appendTo("#growOnBoxes");
      }
      if( points ) {
                $("<p>Points</p>").appendTo("#growOnBoxes");
                $("<input/>").attr("type","text").attr("id", "newPoint" + i).addClass("newPoint").appendTo("#growOnBoxes");
                $("<br/>").appendTo("#growOnBoxes");
      }
    }
    t = number;
    q = questions;
    p = points;
  }

  getData = function( number, questions, points){
    var data = []
    for(var i = 0; i < number; i++ ){
      currObj = { question:"", point:""}
                       console.log(questions );
      if( questions ){
                console.log("YESS");
                currObj.question = $("#newQuest" + i).val();
      }
      if( points ) {
                currObj.point = $("#newPoint" + i).val();
      }
      data.push(currObj);
    }
    console.log( data );
    return JSON.stringify(data);
  }  

  $(window).load( function() {
  $(".secondButton").hide();
  $("#success").hide();
  $(".firstButton").click( function (){
    var yesQuest = $(".questionTitle").attr("checked");
    var yesPoint = $(".questionPoint" ).attr("checked");
    if (  yesQuest || yesPoint ) {
       genBoxes( $(".howManyQuestion").val(), yesQuest, yesPoint );
       $(".firstButton").hide();
       $(".secondButton").show();
    } else {
       $.post( "",
               { 
                 title : $(".firstTitle").val(),
                 problems: "{}" },
               function(data){
                  $("#all").hide();
                  $("#success").show();
                       } );
    }
  });

  $(".secondButton").click( function(){
       $.post( "",
               { title : $(".questionTitle").val(),
                 problems : getData( t, q, p ) },
               function(data){
                  $("#all").hide();
                  $("#success").show();
               });
  });

  });
</script>
{% endblock %}

{% block outHeader %}{% if not inGuy %}
<p> You must <a href='/login/'> Login </a> or <a href='/register/'> Register </a> before you can post assignments! </p>
{% endif %}{% endblock %}

{% block inContent %}{% if inGuy %}
<div id="all">
  <p>Title</p>
  <input type='text' value='' class="firstTitle"/><br/>
  How Many Questions?
  <input type='number' value='1' class="howManyQuestion"/><br/>
  Do You Want to include..
  <br/>
  <input type="checkbox" class="questionTitle"/>Question Title<br/>
  <input type="checkbox" class="questionPoint"/>Question Points<br/>

  <button type="button" class="firstButton" >Next</button>
  <div id="growOnBoxes"></div>
  <button type="button" class="secondButton" >Next</button>
</div>
<div id="success">
  Your crap has been successfully saved
</div>
{% endif %}
{% endblock %}
