{% extends "base.html" %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">

  genBoxes = function( number, questions, points ){
    for(var i = 0; i < number; i++ ){
      if( questions || points ) {
                $("<br><strong># " + (i + 1) + ". </strong>").appendTo("#growOnBoxes");
      }                 
      if( questions ){
                $("<input/>").attr("type","text").attr("id", "newQuest" + i).attr("class", "text").addClass("newQuest").appendTo("#growOnBoxes");
      }
      if( points ) {
                $("<input/>").attr("type","text").attr("id", "newPoint" + i).attr("class", "text").addClass("newPoint").appendTo("#growOnBoxes");
                $("<br/>").appendTo("#growOnBoxes");
      }
    }
    t = number;
    q = questions;
    p = points;
  }

  getData = function( number, questions, points){
    var data = []
    for(var i = 0; i < number; i++ ){
      currObj = { question:"", point:""}
      if( questions ){
                console.log("YESS");
                currObj.question = $("#newQuest" + i).val();
      }
      if( points ) {
                currObj.point = $("#newPoint" + i).val();
      }
      data.push(currObj);
    }
    console.log( data );
    return JSON.stringify(data);
  }  

  $(window).load( function() {
  $(".secondButton").hide();
  $("#success").hide();
  $("#error").hide();
  $(".firstButton").click( function (){
    var yesQuest = $(".questionTitle").attr("checked");
    var yesPoint = $(".questionPoint" ).attr("checked");
    if (  yesQuest || yesPoint || $(".howManyQuestion").val() > 0) {
       genBoxes( $(".howManyQuestion").val(), yesQuest, yesPoint );
       $(".firstButton").hide();
       $(".secondButton").show();
    } else if ($(".howManyQuestion").val() > 0) {
       $.post( "",
               { 
                 title : $(".firstTitle").val(),
                 problems: getData( $(".howManyQuestion").val(), false, false ) },
               function(data){
                  $("#all").hide();
                  window.location = "../";
                       } );
    } else {
      $("#error").fadeToggle();
    }
  });

  $(".secondButton").click( function(){
       $.post( "",
               { title : $(".firstTitle").val(),
                 problems : getData( t, q, p ) },
               function(data){
                  $("#all").hide();
                  window.location = "../";
               });
  });

  });
</script>
{% endblock %}

{% block outHeader %}{% if not inGuy %}
<p> You must <a href='/login/'> Login </a> or <a href='/register/'> Register </a> before you can post assignments! </p>
{% endif %}{% endblock %}

{% block inContent %}{% if inGuy %}
<div id="all">
  Title:<br>
  <input class="text firstTitle" type='text' value='' /><br/>
  Number of Questions:<br>
  <input class="text howManyQuestion" type='number' value='1' /><br/>
  Include: 
  <input class="questionTitle" type="checkbox"/> topic<br>

  <button type="button" class="firstButton butt" >Next</button>
  <div id="growOnBoxes"></div>
  <button type="button" class="secondButton butt" >Next</button>
  </div>
<div id="success">
  Your crap has been successfully saved
</div>

<div id="error">
  You cannot have a non-positive amount of problems in life.
</div>
  
{% endif %}{% endblock %}
