{% extends "base.html" %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
  $(window).load( function() {
     $(".delete").click( function(){
        console.log("3");
        $.post( "",
                {id: $(this).attr('id') },
                function(){
                     location.reload(true);
                });
     });
  });  
  </script>
{% endblock %}

  {% block inContent %}{% if inGuy %}
  <span class="sidetab">Dashboard</span><br>
  
   {% for assignment in Activeassignments %}
      <a href="assignment/{{ assignment.id }}" ><div class="assignment" id={{ assignment.id }}>
        <h2>{{ assignment.title }} <span class="delete" id="{{ assignment.id }}">x</span></h2>
        <h3>{{ assignment.due }}</h3>
      </div></a>
   {% endfor %}
   {% for assignment in inActiveassignments %}
      <a href="assignment/{{ assignment.id }}" ><div class="inactive" id={{ assignment.id }}>
        <h2>{{ assignment.title }} <span class="delete" id="{{ assignment.id }}">x</span></h2>
        <h3>{{ assignment.due }}</h3>
      </div></a>
   {% endfor %}
   {% endif %}
{% endblock %}

{% block outContent %}{% if not inGuy %}

An easy, elegant way to keep all your problems in one place.

{% endif %}
{% endblock %}
