{% extends "base.html" %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
  $(window).load( function() {
     $(".inact").click( function(){
        $.post( "",
                {id: $(this).attr('id'),
                 kind: "inact" },
                function(){
                     location.reload(true);
                });
     });
     $(".remo").click( function(){
        $.post( "",
                {id: $(this).attr('id'),
                 kind: "remo" },
                function(){
                     location.reload(true);
                });
     });
  });  
  </script>
{% endblock %}

  {% block inContent %}{% if inGuy %}
  <span class="sidetab">Dashboard</span><br>
  
   {% for assignment in AA %}
      <a href="assignment/{{ assignment.id }}" ><div class="assignment" id={{ assignment.id }}>
        <h2>{{ assignment.title }}</h2>
        <h3>{{ assignment.due }}</h3>
        <h4>{{ assignment.percent }}%</h4>
      </div></a><span class="delete inact" id="{{ assignment.id }}">x</span>
   {% endfor %}
   <br>
   <span class="sidetab">Completed</span><br>
   <div id="inactiveThings">
   {% for assignment in iAA %}
      <a href="assignment/{{ assignment.id }}" ><div class="inactive" id={{ assignment.id }}>
        <h2>{{ assignment.title }}</h2>
        <h3>{{ assignment.due }}</h3>
        <h4>{{ assignment.percent }}%</h4>
      </div></a> <span class="delete remo" id="{{ assignment.id }}">x</span>
      
   {% endfor %}
   </div>
   {% endif %}
{% endblock %}

{% block outContent %}{% if not inGuy %}

An easy, elegant way to keep all your problems in one place.

{% endif %}
{% endblock %}
